

.container {
    display: flex;
    height: 100vh;
}

.left-container {
    flex: 2;
    background-color: #ffffff;
    padding: 20px;
}

.left-container h1 {
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 50px;
    font-size: 30px;
}

.left-container p {
    margin-left: 80px;
    margin-right: 70px;
}

.left-container .button-container {
    margin-top: 20px;
    text-align: center;
}

.button-container .explore-button {
    padding: 20px 20px;
    background-color: #ffffff;
    color: #00C853;
    border: 2px solid #00C853;
    border-radius: 20px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.button-container .explore-button:hover {
    background-color: #00C853;
    color: #ffffff;
}

.right-container {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}



img {
    max-width: 80%;
    width: 50%;
    height: auto;
}

.bottom-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    transition: opacity 1s ease-in-out;
}

.bottom-container .image-text-container {
    flex: 0 1 calc(30% - 20px);
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 15px;
   
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    
}

.bottom-container .image-text-container:nth-child(1) {
    background-color: #FFFFFF - 60%;
}

.bottom-container .image-text-container:nth-child(2) {
    background-color: #FFFFFF;
}

.bottom-container .image-text-container:nth-child(3) {
    background-color: #FFFFFF;
}

.bottom-container .image-text-container:hover {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bottom-container .image-text-container p {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}



.blog-container {
    width: 85%;
    height: auto;
    min-width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    margin: 20px auto;
    background-color: #0039cb;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-left {
    flex: 1;
    margin-right: 20px;
}

.blog-left h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.blog-left ul {
    list-style: none;
    padding: 0;
}

.blog-left ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

.blog-left ul li span {
    color: #00c853;
    font-weight: bold;
    margin-right: 10px;
}

.blog-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00796b;
    padding: 20px;
    border-radius: 10px;
}

.blog-right-top img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.blog-right-top h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.blog-right-top p {
    text-align: center;
    font-size: 14px;
    color: #e0f7fa;
}

.blog-right-bottom button {
    padding: 10px 20px;
    background-color: #00c853;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.blog-right-bottom button:hover {
    background-color: #00a347;
}
